body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(260deg,#c668de, #57a3b1);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registration {
  background: #fff;
  height: 15rem;
  width: 38rem;
  padding: 3rem;
  border-radius: .9rem;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
.registration h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}
.registration label {
  font-weight: bold;
  margin-right: .6rem;
}
.registration_form_input {
  margin-bottom: 1rem;
}
.registration_form_span {
  margin-left: 1rem;
}
.Cancel_btn {
  background-color: #ff5e5a;
  padding: 0.7rem;
  border-radius: 8px;
  border: none;
  color: #fff;
  margin-right: 0.6rem;
}
.submit_btn {
  background-image: linear-gradient(135deg,#c668de, #57a3b1);;
  padding: 0.7rem;
  border-radius: 8px;
  border: none;
  color: #fff;
  margin-right: 0.6rem;
}
